// Override colors vars
$bg-primary: #f0e5db;
$brown-2: #bb9457;
$blue-dark: #0077b6;
$blue-light: #bbdefb;
$blue-code: #b7e4c7;
$yellow-code: #fcbf49;

$primary: #6c757d;
$secondary: $blue-dark;
$info: $blue-light;
// $primary: #6c757d67;

// Container sizes
$cont-sm: 440px;
$cont-md: 520px;
$cont-lg: 760px;
$cont-xl: 940px;
$cont-xxl: 1120px;
